[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-extensions = "*"

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
python-decouple = "*"
dj-database-url = "*"
whitenoise = "*"
django-model-utils = "*"
psycopg2-binary = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
